* {
    font-family: 'Montserrat Subrayada', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 44px 0 144px 76px;
}
.link-header{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;
}
.button-header{
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;

}
.img-logo{
    margin: 163px 0 0123px;
}
section{
    display: inline-block;
    margin-left: 86px;

}
h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    filter: drop-shadow( 0px 4px 4px);

}
p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}
.button-main{
    background: #adff00;
    border-radius: 20.5px;
    height: 64px;
    width: 239px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 50px 50px);
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}